/* CSS variables were created at the root of the document to be used throughout the style sheet */ 
:root {
    --seagreen: darkslategrey;
    --lightgray: lightgray;
    --purple: darkslateblue;
    --transparentpurple: rgba(24, 4, 41, 0.295);
    --goldyellow: rgba(255, 255, 0, 0.651);
    --beige: rgba(197, 204, 167, 0.877);
    --transwhite: rgba(255, 255, 255, 0.158);
    --regblack:black;
}
/* UNIVERSAL STYLE ADDED */
* {
    color:var(--lightgray);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}
/* GENERAL STYLE ADDED */
body {
    background-color:var(--seagreen);
    margin: 0;
}

li {
    list-style: none;
}

.mainheader {
    background-color: var(--beige);
    padding: 20px;
    text-align: center;
    background-image: url("../assets/images/Weather\ hero\ banner.jpg");
    background-size: stretch;
    background-position: center;
    background-repeat: no-repeat;
}

.mainheader h1 {
    font-size: 50px;
    color: var(--regblack);
    opacity: 50%;
  }