/* CSS variables were created at the root of the document to be used throughout the style sheet */ 
:root {
    --seagreen: rgb(42, 88, 88);
    --lightgray: lightgray;
    --beige: rgba(197, 204, 167, 0.877);
    --regblack:black;
}
/* UNIVERSAL STYLE ADDED */
* {
    color:var(--lightgray);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    box-sizing: border-box;
    overflow: hidden;
}
/* GENERAL STYLE ADDED */
body {
    background-color:var(--seagreen);
    margin: 0;
}

.mainheader {
    background-color: var(--beige);
    border-bottom: 2px solid var(--regblack);
    padding: 40px;
    text-align: center;
    background-image: url("../images/Weather\ hero\ banner.jpg");
    background-size: stretch;
    background-position: center;
    background-repeat: no-repeat;
}

.mainheader h1, h2 {
    font-size: 40px;
    color: var(--regblack);
    opacity: 50%;
  }
/* MAIN SECTION STYLES ADDED */
  .containerbox {
    border: 2px solid var(--seagreen);
    margin: 0 1.5rem;
  }
  .row {
    background-color: var(--seagreen);
    margin:0.5rem 0.5rem;
    text-align: center;
  }

  .form-inline {
    padding-right: 0px;
  }

  button {
    margin:0.5rem 0.5rem;
  }

  #cityViewed {
    text-align: center;
    justify-content: center;
  }

  #todayWeather {
    margin-top: 20px;
    margin-left: 1px;
    line-break: normal;
  }

  p {
    font-weight: 500;
    text-align: center;
  }

  #temperature,
  #humid,
  #wind,
  #uv {
    text-align: left;
  }

  #forecast {
    margin-top: 20px;
  }

.card {
  background-color: var(--seagreen);
  border: none;
}